<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.automation.testcases.searchPage"/>
      <class name="com.automation.testcases.wishListPage"/>
      <class name="com.automation.testcases.searchPage2"/>
      <class name="com.automation.testcases.SIGNIN"/>
      <class name="com.automation.testcases.WhatsappIcon"/>
      <class name="com.automation.testcases.FisrtLandingPage"/>
      <class name="chrome.ExtentReport"/>
      <class name="com.automation.testcases.dropDown"/>
      <class name="com.automation.testcases.ViewAllPage"/>
      <class name="com.automation.testcases.verifyTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
